[submodule "Source/Deps/FastNoise2"]
	path = Source/Deps/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "Plugins/CMakeTarget"]
	path = Plugins/CMakeTarget
	url = https://github.com/caseymcc/UE4CMake.git
